@use 'vars.scss' as var;
@use 'font-gen.scss' as func;

@mixin card($color, $size, $border-color) {
  color: $color;
  font-size: $size;
  border: func(1) solid $border-color;
}

@mixin bordering($color) {
  border: func(2) solid $color;
}

div {
  @include card(var.$green-color, 1rem, var.$red-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  h1 {
    border-bottom: func(1) solid var.$blue-color;
    margin: 2rem auto 0 auto;
  }
  section {
    display: flex;
    margin: 1rem;
    article {
      @include bordering(var.$green-color);
      padding: 1rem 0.5rem;

      &:nth-of-type(odd) {
        color: var.$blue-color;
      }

      &:nth-of-type(even) {
        color: var.$red-color;
      }
    }
    &:last-child {
      article {
        @include card(var.$green-color, func(24), var.$blue-color);
      }
    }
  }
}
